@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Modules/Clients/BetterDiscord.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/Touchup.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");
@import url("https://dablulite.github.io/accountdetailscolumns/import.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/NormalizedForums.css");


/* THESE ARE FOR THE CUSTOM AVATARS */
/* COMMENT THESE LINES OUT IF YOU WANT NORMAL AVATARS */


/* FRIENDS TAB */
/* .avatar-31d8He {
    content: url('https://media.discordapp.net/attachments/1083746259774484562/1087712976561262642/PFPNEW.png?width=412&height=412');
} */

/* CHAT TAB */
/* .avatar-2e8lTP {
    content: url('https://media.discordapp.net/attachments/1083746259774484562/1087712976561262642/PFPNEW.png?width=412&height=412');
} */

/* WHEN RINGING USER */
/* .voiceAvatar-lRbblo {
    content: url('https://media.discordapp.net/attachments/1083746259774484562/1087712976561262642/PFPNEW.png?width=412&height=412');
} */

.embedWrapper-1MtIDg, .embedFull-1HGV2S, .embed-hKpSrO, .markup-eYLPri {
    border: none;
}

.blockquoteDivider-363utW {
    background-color: var(--text-link);
}

blockquote {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
    border-radius: 4px;
}

:root, .theme-dark {
    --accentcolor: 151, 130, 221;
    --accentcolor2: 151, 130, 221;
    --linkcolor: 151, 130, 221;
    --text-normal: #c7c6ce;
    --text-muted: #c7c6ce;
    --text-link: #9782dd;
    --text-positive: #50dc7d;
    --text-warning: #f86e6e;
    --text-danger: #f86e6e;
    --text-brand: #c7c6ce;
    --interactive-normal: #c7c6ce;
    --interactive-hover: #c7c6ce;
    --interactive-active: #c7c6ce;
    --interactive-muted: #c7c6ce;
    --background-primary: #080914;
    --background-secondary: #080914;
    --background-secondary-alt: #080914;
    --background-tertiary: #080914;
    --background-accent: #c7c6ce;
    --background-floating: #080914;
    --modal-background: #080914;
    --channeltextarea-background: #080914;
    --info-positive-text: #c7c6ce;
    --info-warning-text: #c7c6ce;
    --info-warning-foreground: #c7c6ce;
    --info-danger-text: #c7c6ce;
    --info-help-text: #c7c6ce;
    --status-warning-text: #000;
    --background-mentioned: #080914;
    --background-mentioned-hover: #08914;
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --scrollbar-auto-thumb: #9782dd;
    --brand-experiment: #9782dd;
    --brand-experiment-hover: #c7c6ce;
    --brand-experiment-560: #c7c6ce;
    --channels-default: #c7c6ce;
    --selected-indicator: #97ffa5;
    --hover-indicator: #c7c6ce;
    --colooor: #0e0f1b;
    --colot: #080914;
    --colob: #1c1a30;
    --font: "Lato";
    --code-font: "Source Code Pro";
    --boost-bar: none;
}

.circleIcon-3489FI {
    color: var(--text-link);
}

.expression-picker-chat-input-button {
    display: none;
}

.contents-3NembX {
    color: var(--text-normal);
}

.ping-2IpLcU {
    display: none;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: var(--text-link);
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP:hover .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: var(--text-link);
}

.icon-39rdLt {
    background-color: var(--text-link);
}

.icon-39rdLt:hover {
    background-color: var(--text-link);
}

.pictureInPictureWindow-3ms5Zy {
    display: none;
}

.groupStart-3Mlgv1::before {
    transform: translate(-20%, -156%);
}

.hasContent-1y12-u::before {
    left: 51px;
    transform: translateY(-132%);
}

.messageListItem-ZZ7v6g + .scrollerSpacer-3AqkT9::before {
    left: 67px;
    transform: translateY(-84%);
}

.mentioned-Tre-dv::before {
    left: unset;
    top: unset;
    bottom: unset;
}

.popoutBanner-3cqRD9 {
    height: 120px;
}

.profileBanner-1owKI5 {
    height: 240px;
}

.avatarPositionNormal-2jWoC2 {
    top: 76px;
}

.interactive {
    background-color: var(--text-link);
    color: var(--text-normal);
}

[class*="title-"][class*="container-"]
    [class*="toolbar-"]
    [class*="search-"]
    [class*="searchBar-"] {
    background: none !important;
    width: 24px;
    color: var(--color-text);
    transition: width 0.2s, padding 0.5s;
    padding: 0;
}

[class*="title-"][class*="container-"]
    [class*="toolbar-"]
    [class*="search-"]
    [class*="searchBar-"]
    [class*="iconContainer-"] {
    width: 24px !important;
    height: 24px;
    cursor: pointer !important;
}

[class*="title-"][class*="container-"]
    [class*="toolbar-"]
    [class*="search-"]
    [class*="searchBar-"],
[class*="title-"][class*="container-"]
    [class*="toolbar-"]
    [class*="search-"]
    [class*="searchBar-"]
    svg {
    color: var(--color-text);
    width: 24px;
    height: 24px;
    padding: 0.5px;
}

[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] {
    width: 300px !important;
    padding: 0 10px !important;
}

[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] svg {
    color: var(--text-muted);
    transform: scale(0.8);
}

[class*="channelTextAreaDisabled-"] > div {
    display: none;
}

[class*="blob-"]:nth-child(1),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.1s infinite alternate !important;
}

[class*="blob-"]:nth-child(2),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.2s infinite alternate !important;
}

[class*="blob-"]:nth-child(3),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.3s infinite alternate !important;
}

[class*="blob-"]:nth-child(4),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.4s infinite alternate !important;
}

[class*="blob-"]:nth-child(5),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.5s infinite alternate !important;
}

[class*="blob-"]:nth-child(6),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.6s infinite alternate !important;
}

[class*="blob-"]:nth-child(7),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.7s infinite alternate !important;
}

[class*="blob-"]:nth-child(8),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.8s infinite alternate !important;
}

[class*="blob-"]:nth-child(9),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 0.9s infinite alternate !important;
}

[class*="blob-"]:nth-child(10),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
    animation: fadeAnim 0.7s 1s infinite alternate !important;
}

@keyframes fadeAnim {
    from {
        filter: opacity(1);
    }

    to {
        filter: opacity(0.4);
    }
}

.content-yTz4x3:before {
    z-index: 12;
}

[class*="membersWrap-"] {
    margin-right: -175px;
    transition: transform 0.35s;
    z-index: 10;
}

[class*="membersWrap-"]:hover,
[class*="membersWrap-"]:focus,
[class*="membersWrap-"]:focus-within {
    transform: translatex(-175px);
}

[class*="membersWrap-"] > [class*="members-"] {
    background-color: var(--background-primary);
    transition: background-color 0.2s;
    max-width: 200vw;
}

[class*="membersWrap-"] > [class*="members-"] > div {
    background: none !important;
}

[class*="membersWrap-"]:hover > [class*="members-"],
[class*="membersWrap-"]:focus-within > [class*="members-"] {
    background-color: var(--background-secondary);
}

[class*="membersWrap-"] [class*="membersGroup-"] {
    margin-right: auto;
    width: 55px;
    text-overflow: clip;
    direction: rtl;
    word-spacing: 1000px;
}

[class*="membersWrap-"]:hover [class*="membersGroup-"],
[class*="membersWrap-"]:focus-within [class*="membersGroup-"] {
    width: 100%;
    margin: 0;
    direction: ltr;
    word-spacing: unset;
    text-overflow: ellipsis;
}

[class*="membersWrap-"] [class*="member-"] [class*="content-"] {
    filter: opacity(0);
    transition: filter 0.2s;
}

[class*="membersWrap-"]:hover [class*="membersGroup-"],
[class*="membersWrap-"]:focus-within [class*="membersGroup-"],
[class*="membersWrap-"]:hover [class*="member-"] [class*="content-"],
[class*="membersWrap-"]:focus-within [class*="member-"] [class*="content-"] {
    filter: opacity(1);
}

[class*="compact-"] > [class*="contents-"] {
    display: flex;
}

[class*="compact-"] > [class*="contents-"] > [class*="header-"] {
    display: inline-flex;
    width: 150px;
    margin-left: -5rem;
    flex-shrink: 0;
    text-indent: 0;
}

[class*="compact-"] [id*="message-username-"] {
    flex: 1 1 0;
    white-space: nowrap;
    margin-inline: 0.4em !important;
    display: flex;
    text-align: right;
}

[class*="compact-"] [id*="message-username-"] > [class*="username-"] {
    width: 0;
    flex-grow: 1;
    text-overflow: ellipsis;
}

[class*="compact-"]:not(:hover) [class*="timestampVisibleOnHover-"] {
    display: none;
}

[class*="compact-"] > [id*="message-accessories-"] {
    margin-left: 70px;
}

.wrapper-1gVUIN {
    background-color: var(--colot);
}

.normal-qRirv5,
.video-3n15R6 {
    background-color: var(--colot);
}

.root-2f-lk1,
.flexCenter-1Vz5gs {
    background-color: var(--colot);
}

.nowPlayingColumn-1eCBCN {
    display: none;
}

.interactive-26HRN_:hover,
.interactive-iyXY_x:hover,
.linkButton-2NshQj:hover,
.interactiveSelected-29CP8y:hover,
.selected-26oxtA:hover {
    background-color: var(--colooor);
    color: var(--background-accent);
}

.interactive-26HRN_.selected-26oxtA {
    background-color: var(--colob);
}

.interactive-26HRN_:hover {
    color: var(--background-accent);
}

.interactive-26HRN_.selected {
    background-color: var(---col);
}

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

.vc-platform-indicator > svg {
    fill: var(--text-link);
}

svg path {
    color: var(--text-link);
}

svg:hover path:hover {
    color: var(--background-accent);
}

.button-2fCJ0o,
.button-3BaQ4X,
.stickerButton-1-nFh2 {
    display: none;
}

.markup-eYLPri code {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    counter-reset: listing;
}

.closeIcon-1NwtbI > path {
    fill: var(--background-floating);
    visibility: visible;
}

.gridContainer-1cF_Ic {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
    border-radius: 10px;
}

.auto-2TJ1RH::-webkit-scrollbar-track {
    background-color: var(--background-floating);
}

.controlButton-2PMNom,
.contextMenuContainer-1RO4DQ {
    background-color: var(--colooor);
    border-radius: 10px;
    border: 2px solid var(--colob);
}

.colorable-3rVGna.red-3T8maV {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
}

.colorable-3rVGna.red-3T8maV:hover {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
}

.colorable-3rVGna.primaryDark-2UJt1G {
    background-color: var(--colooor);
}

.colorable-3rVGna.primaryDark-2UJt1G:hover {
    background-color: var(--colooor);
}

.colorable-3rVGna.white-11auuQ {
    background-color: var(--colooor);
}

.colorable-3rVGna.white-11auuQ:hover {
    background-color: var(--colooor);
}

.status-1ZXjSF {
    background-color: var(--colooor);
}

.iconBadge-32fMme.participating-2Z81oO {
    background-color: var(--colooor);
}

.quickSelectPopoutOption-2E2UmS {
    background-color: var(--colooor);
}

.quickSelectPopout-2F0PXw,
.regionSelectPopout-3sEzVB {
    background-color: var(--colooor);
    border-radius: 10px;
}

.footer-IubaaS {
    background-color: var(--colooor);
}

.lookFilled-1H2Jvj.colorGreen-jIPCAS {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
}

.attachButtonPlay-1ATmb5 {
    background-color: var(--colooor);
    fill: var(--text-link);
}

.chat-2ZfjoI {
    background-color: var(--colot);
}

.wrapper-1gVUIN, .root-22AK9z, .idle-39sGPO, .noChat-2UYgeE, .video-3n15R6 {
    background-color: var(--colot);
}


.circleIconButton-1VxDrg:hover {
    background-color: var(--colob);
    border-radius: 10px;
}

.circleIconButton-1VxDrg.selected-2r1Hvo  {
    background-color: var(--colob);
    border-radius: 10px;
}

.defaultColor-1GKx81 {
    color: var(--text-link);
}

.pageBody-23bo4p {
    background-color: var(--colob);
}

.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB {
    background-color: var(--background-floating);
}

.theme-dark .container-1um7CU {
    background-color: var(--colob);
}

.theme-dark .themed-Hp1KC_{
    background-color: var(--background-floating);
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--colob);
}

.modeSelected-3DmyhH:hover, .content-1gYQeQ:hover, .modeSelected-3DmyhH:hover, .content-1gYQeQ:hover {
    background-color: var(--colob);
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz:hover {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
}

.closedFolderIconWrapper-3tRb2d {
    display: none;
}

.folderIconWrapper-1oRIZr:not([style=""])::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--text-link);
    -webkit-mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    transform: scale(1.3335);
    filter: brightness(1);
}

.theme-dark .emptyPage-2TGR7j, .theme-dark .scrollerContainer-y16Rs9 {
    background-color: var(--colob);
}

.container-2sjPya {
    margin-left: -5px;
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, .tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1[aria-selected=true] {
    color: var(--text-link);
}

.addFriendInputWrapper-kkoSV9 {
    background-color: var(--colooor);
    border: 2px solid var(--colob);
}

.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy, .topPill-2vcLsa .themed-qqoYp3.selected-1sf9UK.item-2GWPIy {
    background-color: var(--colooor);
    border: 2px solid var(--colob); 
}

#app-mount .autocomplete-3NRXG8, .categoryHeader-OpJ1Ly, #app-mount .perk-19D_HN {
    background-color: var(--colooor);
    border: 2px solid var(--colob); 

}

.avatarPositionNormal-2jWoC2 {
    top: 16px;
}
